@namespace Waizor.Components
@inherits ComponentBase

<RovingFocus For="@(() => _elementReference)" />

<CascadingValue Value="this">
    <div @ref="_elementReference" id="@Id" class="@Class" data-orientation="@Orientation.ToString().ToLowerInvariant()">
        @ChildContent
    </div>
</CascadingValue>