@namespace Waizor.Components
@inherits ComponentBase

<div id="@Accordion.ContentId" role="region" aria-labelledby="@Accordion.TriggerId" hidden="@(!AccordionItem.Open)" class="@Class">
    @ChildContent
</div>