@namespace Waizor.Components
@inherits ComponentBase

<CascadingValue Value="this">
    <div class="@Class" 
         data-state="@(State.ToString().ToLowerInvariant())" 
         data-disabled="@Disabled" 
         data-orientation="@Accordion.Orientation.ToString().ToLowerInvariant()">
        @ChildContent
    </div>
</CascadingValue>