@namespace Waizor.Components
@inherits ComponentBase

<button type="button" aria-expanded="@AccordionItem.Open" aria-controls="@Accordion.ContentId" id="@Accordion.TriggerId" @onclick="OnClick" class="@Class">
    @ChildContent 
</button>
