@namespace Waizor.Primitives.Components.Internal
@inherits ComponentBase

<div @ref="ElementReference" id="@Id" aria-modal="true" aria-labelledby="@Dialog.TitleId" aria-describedby="@Dialog.DescriptionId" class="@Class" @attributes="AdditionalAttributes">
    @ChildContent
</div>
