@namespace Waizor.Primitives.Components
@inherits ComponentBase

<RovingFocus For="@(() => elementReference)">
    <CascadingValue Value="this">
        <div id="@Id" class="@Class" data-orientation="@Orientation.ToString().ToLowerInvariant()" @ref="elementReference">
            @ChildContent
        </div>
    </CascadingValue>
</RovingFocus>