@namespace Waizor.Primitives.Components
@inherits SlotBase


@if (AsChild)
{
    <RovingFocusItem For="For" />

    @ChildContent(Attributes)
}
else
{
    <RovingFocusItem For="@(() => elementReference)" />

    <button type="button" @attributes="Attributes" @ref="elementReference">
        @ChildContent(Attributes)
    </button>
}
