@page "/alert-dialog"

<PageTitle>
    Alert Dialog
</PageTitle>

<Waizor.Primitives.Components.AlertDialog>
    <Waizor.Primitives.Components.AlertDialogTrigger>
        Discard draft
    </Waizor.Primitives.Components.AlertDialogTrigger>
    <Waizor.Primitives.Components.AlertDialogPortal>
        <Waizor.Primitives.Components.AlertDialogBackdrop />
        <Waizor.Primitives.Components.AlertDialogContent>
            <Waizor.Primitives.Components.AlertDialogTitle>
                Discard draft?
            </Waizor.Primitives.Components.AlertDialogTitle>
            <Waizor.Primitives.Components.AlertDialogDescription>
                You can’t undo this action.
            </Waizor.Primitives.Components.AlertDialogDescription>
            <div>
                <Waizor.Primitives.Components.AlertDialogClose>
                    Cancel
                </Waizor.Primitives.Components.AlertDialogClose>
                <Waizor.Primitives.Components.AlertDialogClose>
                    Discard
                </Waizor.Primitives.Components.AlertDialogClose>
            </div>
        </Waizor.Primitives.Components.AlertDialogContent>
    </Waizor.Primitives.Components.AlertDialogPortal>
</Waizor.Primitives.Components.AlertDialog>