@page "/alert"

<PageTitle>
    Accordion
</PageTitle>

<h1>
    Alert
</h1>

<button type="button" @onclick="ShowAlert">
    Trigger alert
</button>

@if (_showAlert)
{
    <Waizor.Primitives.Components.Alert>
        Hello
    </Waizor.Primitives.Components.Alert>
}

@code {
    private bool _showAlert = false;

    private void ShowAlert()
    {
        _showAlert = true;
    }
}