@page "/aspect-ratio"

<PageTitle>
    Aspect Ratio
</PageTitle>

<h1>
    Aspect Ratio
</h1>

<div style="width: 300px; border-radius: 6px; overflow: hidden;">
    <Waizor.Primitives.Components.AspectRatio Ratio="@(16d / 9d)">
        <img style="object-fit: cover; width: 100%; height: 100%"
             src="https://images.unsplash.com/photo-1535025183041-0991a977e25b?w=300&dpr=2&q=80"
             alt="Landscape photograph by Tobias Tullius" />
    </Waizor.Primitives.Components.AspectRatio>
</div>