@page "/checkbox"

<PageTitle>
    Checkbox
</PageTitle>

<label>
    <Waizor.Components.Checkbox Required Name="Test" T="string">
        <Waizor.Components.CheckboxIndicator T="string">
            @if (context.HasFlag(CheckboxState.Indeterminate))
            {
                @("➖")
            }
            else if (context.HasFlag(CheckboxState.Checked))
            {
                @("✔️")
            }
        </Waizor.Components.CheckboxIndicator>
    </Waizor.Components.Checkbox>
    Enable notifications
</label>