@page "/checkbox"

<PageTitle>
    Checkbox
</PageTitle>

<label>
    <Waizor.Primitives.Components.Checkbox Required Name="Test" T="string" DefaultChecked="null">
        <Waizor.Primitives.Components.CheckboxIndicator T="string">
            @if (context == CheckboxState.Indeterminate)
            {
                @("➖")
            }
            else if (context == CheckboxState.Checked)
            {
                @("✔️")
            }
        </Waizor.Primitives.Components.CheckboxIndicator>
    </Waizor.Primitives.Components.Checkbox>
    Enable notifications
</label>