@page "/checkbox"

<PageTitle>
    Checkbox
</PageTitle>

<label>
    <Waizor.Components.Checkbox Required Indeterminate Name="Test" T="string">
        <Waizor.Components.CheckboxIndicator T="string">
            @if (context == null)
            {
                @("➖")
            }
            else
            {
                @("✔️")
            }
        </Waizor.Components.CheckboxIndicator>
    </Waizor.Components.Checkbox>
    Enable notifications
</label>