@page "/popover"

<PageTitle>
    Popover
</PageTitle>

<div style="min-height: 25vh"></div>

<Waizor.Components.Popover>
    <div style="text-align: center">
        <Waizor.Components.PopoverTrigger AsChild For="@(() => triggerElementReference)">
            <button type="button" @ref="triggerElementReference" @attributes="context">
                ⚙️
            </button>
        </Waizor.Components.PopoverTrigger>
    </div>
    <Waizor.Components.PopoverPortal>
        <Waizor.Components.PopoverContent Align="Align.Center" Side="Side.Bottom">
            <div style="border: 1px solid #ccc">
                <p>
                    Dimensions
                </p>
                <fieldset>
                    <label for="width">
                        Width
                    </label>
                    <input id="width" value="100%" />
                </fieldset>
                <fieldset>
                    <label for="maxWidth">
                        Max. width
                    </label>
                    <input id="maxWidth" value="300px" />
                </fieldset>
                <fieldset>
                    <label for="height">
                        Height
                    </label>
                    <input id="height" value="25px" />
                </fieldset>
                <fieldset>
                    <label for="maxHeight">
                        Max. height
                    </label>
                    <input id="maxHeight" value="none" />
                </fieldset>
            </div>
            <Waizor.Components.PopoverClose style="position: absolute; top: 0; right: 0; margin: .5rem;" aria-label="Close">
                ✖️
            </Waizor.Components.PopoverClose>
            <Waizor.Components.PopoverArrow />
        </Waizor.Components.PopoverContent>
    </Waizor.Components.PopoverPortal>
</Waizor.Components.Popover>

<div style="min-height: 150vh"></div>

@code {
    ElementReference triggerElementReference;
}
