@page "/"
@rendermode InteractiveServer

<PageTitle>Waizor</PageTitle>

<h1>Waizor</h1>

<p>
    Free, open-source, accessible, and customizable Blazor components based on WAI patterns that you can copy and paste into your apps.
</p>
