@namespace Waizor.Components
@inherits ComponentBase

<span @ref="elementReference" style="@($"position: absolute; {BaseSide}: 0; transform-origin: {TransformOrigin}; transform: {Transform};")">
    <Arrow style="display: block;" />
</span>