@namespace Waizor.Primitives.Components.Internal
@inherits SlotBase

@if (AsChild)
{
    @ChildContent(Attributes)
}
else
{
    <div @ref="elementReference" @attributes="Attributes">
        @ChildContent(Attributes)
    </div>
}